* {
box-sizing: border-box;
}
h1{
text-align:center;
border:1px solid rgb(165, 187, 165);
color:green;
}
html,body{
height:100%;
width:100%;
}
table{
margin:0px auto;
border:1px solid black;
border-collapse:collapse;
}
th,td{
text-align:center;
border:1px solid black;
padding:10px;
}
input{
margin-left:50%; 
margin-top:2%;   

}