<!DOCTYPE html>
{% load static %}

<html>
<head>
<link rel="stylesheet" href="{% static 'css/year.css' %}">
<link rel="stylesheet" href="{% static 'css/at.css' %}">
<script src="{% static 'js/at.js' %}"></script>
</head>
<body id="main">
{{k}}
{{a}}
<h1>
{{dept}} DEPARTMENT-{{year}} YEAR
</h1>
<table>
<tr>
<th>
RollNo.
</th>
<th>
Name
</th>
{% for a,b in sub   %}
<th>
{{a}}<br>
({{b}})
</th>
{% endfor %}
<th>
TotalPresents
</th>
<th>
TotalClasses<br>
</th>
<th>
Percentage
</th>
</tr>
{% for a,b,x,y,z,per in data %}
<tr>
<td>{{a}}<td>{{b}}</td>
{% for s in x %}
<td>{{s}}</td>
{% endfor %}
<td>
{{y}}
</td>
<td>
{{z}}
</td>
<td  >
{{per}}
</td>
</tr>
{% endfor %}
</table>
<input type="button" onclick="print()" value="PRINT"  >
<div class="at">
<select  id="mylist" onchange="show('{{year}}{{dept}}')">
<option></option>
{% for x,y in sub %}
<option >{{x}}</option>
{% endfor %}
</select>
</div>
</body>
</html>