<!DOCTYPE html>
{% load static %}

<html>
<head>
<link rel="stylesheet" href="{% static 'css/year.css' %}">
<link rel="stylesheet" href="{% static 'css/at.css' %}">
<script >
var by='';
var tb='';
var val=[];
var setp=false

var subject='';
function show(dy){
tb=dy;
by=document.getElementById('main').innerHTML;
subject=mylist.options[mylist.selectedIndex].text
var xhttp=new XMLHttpRequest()
xhttp.onload=function(){

var text="<div id='li'>";
;
text+="<h1 style='text-align:center;color:green;border:1px solid green;margin:10px;'>"+subject+"</h1>";
var res=JSON.parse(this.responseText);
for (var i in res.rolls){
val.push('0');
}
for(var i in res.rolls){
let r=res.rolls[i];
text+="<p><label id='c"+r+"'>"+r+"</label><label id="+r+">"+'('+res.at[i]+')'+"</label>"+"<button value="+r+" id='b1' style='--i:blue' onclick='add("+i+")'>PRESENT</button><button style='--i:red' value='a' id='b2' onclick='sub("+i+")'>ABSENT</button></p>";
}
text+="<button id='bu' onclick='sendData()'>save</button></div>"
document.getElementById('main').innerHTML=text;
}
xhttp.open('GET','/Stat/list_record/?tb='+dy+'&sub='+subject,true)
xhttp.send()
}
function sendData(){
var xhttp=new XMLHttpRequest()
xhttp.onload=function(){
window.alert(this.responseText);
}
xhttp.open('GET','/Stat/updateData/?data='+val+'&tb='+tb+'&subject='+subject,true)
xhttp.send()
}
function add(ind){
if(setp){return}
let x=document.getElementById('b1').value;
val[ind]='1';
let v=document.getElementById(x).innerHTML
v="("+eval(v.slice(1,-1)+'+1')+")";
document.getElementById(x).innerHTML=v;
document.getElementById('c'+x).style.color="green";
setp=true;
}
function sub(ind){
if ((setp)&&(val.length>=ind+1)){
let x=document.getElementById('b1').value;
let v=document.getElementById(x).innerHTML
v="("+eval(v.slice(1,-1)+'-1')+")";
document.getElementById(x).innerHTML=v;
document.getElementById('c'+x).style.color='red';
setp=false;
}
val[ind]='0'

}
</script>
</head>
<body id="main">
{{k}}
{{a}}
<h1>
{{dept}} DEPARTMENT-{{year}} YEAR
</h1>
<table>
<tr>
<th>
RollNo.
</th>
<th>
Name
</th>
{% for a,b in sub   %}
<th>
{{a}}<br>
({{b}})
</th>
{% endfor %}
<th>
TotalPresents
</th>
<th>
TotalClasses<br>
</th>
<th>
Percentage
</th>
</tr>
{% for a,b,x,y,z,per in data %}
<tr>
<td>{{a}}<td>{{b}}</td>
{% for s in x %}
<td>{{s}}</td>
{% endfor %}
<td>
{{y}}
</td>
<td>
{{z}}
</td>
<td  >
{{per}}
</td>
</tr>
{% endfor %}
</table>
<input type="button" onclick="print()" value="PRINT"  >
<div class="at">
<select  id="mylist" onchange="show('{{year}}{{dept}}')">
<option></option>
{% for x,y in sub %}
<option >{{x}}</option>
{% endfor %}
</select>
</div>
</body>
</html>