<!DOCTYPE html>
{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script type="application/javascript" src="{% static 'js/login.js' %}">
</script>
</head>

<body>
<h1>ATTEDENCE STATISTICS</h1>
<div class="m" >
</div>

<form action="" method="POST" autocomplete="off" >
{% csrf_token %} 
<div class="out">
<div class="login">
<label id="move" onmouseover="movement()">Enter Your Roll No.
</label>
<input type='text' name='roll' id="a">
</div>
</div>
<div id="rotate">
</div>
<input type="submit" value="Go" class="button">
</form>
</body>
</html>
