    <!DOCTYPE html>
    {% load static %}
    <html>
    <head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{% static 'js/stat.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'css/statistic.css' %}">
    </head>
    <body>
    <h1><pre>NAME    :{{name}}
ROLL NO.:<label id="roll">{{roll}}</label></pre></h1>
    <div id="frame">
    {% for s in sub %}
    <div id="in">
    <div id="{{s}}">
    </div>
    <div id="result">
    <input type="text" placeholder="% to get" id='per{{s}}' autocomplete="off">
    <label id="res{{s}}" ></label>
    <button onclick="get('{{s}}')">Get</button>
    </div>
    </div>
    {% endfor %}
    </div>
    </body>
    </html>